In [1]:
# dependencies and setup
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
state_df = pd.read_csv('../data/workforce-by-state-2018.csv')
state_df

,State,Population group,Civilian non-institutional population,Total,Percent of population,Total Employed,Percent of population Employed,Total Unemployed,Rate Unemployed
0,Alabama,Total,"3,847","2,208",57.4,"2,121",55.1,87,3.9
1,Alabama,Men,"1,820","1,180",64.9,"1,135",62.4,45,3.8
2,Alabama,Women,"2,027","1,027",50.7,986,48.6,42,4.1
3,Alabama,White,"2,711","1,567",57.8,"1,523",56.2,44,2.8
4,Alabama,"White, men","1,310",880,67.2,857,65.4,23,2.6
5,Alabama,"White, women","1,401",686,49.0,666,47.5,21,3.0
6,Alabama,Black or African American,999,558,55.8,519,52.0,38,6.9
7,Alabama,"Black or African American, men",443,254,57.4,235,53.1,19,7.4
8,Alabama,"Black or African American, women",556,304,54.6,284,51.1,19,6.4
9,Alabama,Hispanic or Latino ethnicity,143,97,67.5,92,64.4,5,4.6
10,Alabama,"Hispanic or Latino ethnicity, men",75,66,87.4,64,85.1,2,2.6
11,Alabama,"Total, 16 to 19 years",236,75,31.9,66,27.9,9,12.5
12,Alabama,"Total, 20 to 24 years",333,228,68.5,212,63.8,16,6.8
13,Alabama,"Total, 25 to 34 years",627,492,78.5,469,74.8,23,4.7
14,Alabama,"Total, 35 to 44 years",578,451,78.0,433,75.0,18,3.9
15,Alabama,"Total, 45 to 54 years",653,481,73.7,471,72.0,11,2.2
16,Alabama,"Total, 55 to 64 years",666,353,53.0,347,52.1,6,1.7
17,Alabama,"Total, 65 years and over",753,127,16.9,123,16.3,5,3.6
18,Alabama,"Men, 20 to 24 years",166,122,73.2,113,68.3,8,6.7
19,Alabama,"Men, 25 to 34 years",303,258,85.1,248,81.7,10,4.0
20,Alabama,"Men, 35 to 44 years",280,238,85.0,229,81.6,9,3.9
21,Alabama,"Men, 45 to 54 years",313,255,81.4,250,79.9,5,1.9
22,Alabama,"Men, 55 to 64 years",316,200,63.4,196,61.9,4,2.2
23,Alabama,"Men, 65 years and over",331,68,20.4,66,19.8,2,3.1
24,Alabama,"Women, 20 to 24 years",167,107,63.8,99,59.4,7,7.0
25,Alabama,"Women, 25 to 34 years",324,234,72.3,222,68.3,13,5.4
26,Alabama,"Women, 35 to 44 years",298,213,71.5,205,68.7,8,3.9
27,Alabama,"Women, 45 to 54 years",341,227,66.6,221,64.8,6,2.6
28,Alabama,"Women, 55 to 64 years",351,153,43.7,152,43.3,2,1.0
29,Alabama,"Women, 65 years and over",423,60,14.1,57,13.5,3,4.2
...,...,...,...,...,...,...,...,...,...
1394,Wisconsin,"Women, 35 to 44 years",364,314,86.3,311,85.2,4,1.2
1395,Wisconsin,"Women, 45 to 54 years",374,311,83.1,303,80.9,8,2.6
1396,Wisconsin,"Women, 55 to 64 years",416,270,65.1,265,63.7,6,2.1
1397,Wyoming,Total,445,287,64.7,275,62.0,12,4.2
1398,Wyoming,Men,224,158,70.4,151,67.5,6,4.0
1399,Wyoming,Women,221,130,58.8,124,56.3,6,4.3
1400,Wyoming,White,416,268,64.5,258,62.1,10,3.8
1401,Wyoming,"White, men",210,148,70.5,143,68.1,5,3.5
1402,Wyoming,"White, women",206,120,58.4,115,56.0,5,4.1
1403,Wyoming,Hispanic or Latino ethnicity,39,26,67.1,25,63.1,2,5.9
1404,Wyoming,"Hispanic or Latino ethnicity, men",19,14,74.3,13,69.7,1,6.1
1405,Wyoming,"Hispanic or Latino ethnicity, women",20,12,60.3,11,57.0,1,5.5
1406,Wyoming,"Total, 16 to 19 years",31,15,48.0,13,42.5,2,11.2
1407,Wyoming,"Total, 20 to 24 years",33,25,77.0,24,71.8,2,6.7
1408,Wyoming,"Total, 25 to 34 years",78,63,81.3,60,77.5,3,4.6
1409,Wyoming,"Total, 35 to 44 years",68,60,89.5,59,87.4,1,2.3
1410,Wyoming,"Total, 45 to 54 years",62,52,83.5,50,80.1,2,4.2
1411,Wyoming,"Total, 55 to 64 years",78,50,64.5,49,62.8,1,2.4
1412,Wyoming,"Total, 65 years and over",96,22,22.7,21,21.6,1,4.6
1413,Wyoming,"Men, 20 to 24 years",17,14,81.1,13,75.9,1,6.7
1414,Wyoming,"Men, 25 to 34 years",38,35,91.9,33,87.4,2,4.6
1415,Wyoming,"Men, 35 to 44 years",34,32,94.9,32,92.9,1,2.0
1416,Wyoming,"Men, 45 to 54 years",32,29,90.8,29,88.0,1,3.3
1417,Wyoming,"Men, 55 to 64 years",36,26,70.8,25,68.9,1,2.8
1418,Wyoming,"Men, 65 years and over",48,13,27.1,13,25.8,1,4.3
1419,Wyoming,"Women, 20 to 24 years",16,12,72.0,11,67.5,1,6.8
1420,Wyoming,"Women, 25 to 34 years",39,28,71.1,27,67.9,1,4.5
1421,Wyoming,"Women, 35 to 44 years",34,28,84.2,28,81.8,1,2.7
1422,Wyoming,"Women, 45 to 54 years",30,23,75.5,21,71.6,1,5.3
1423,Wyoming,"Women, 55 to 64 years",42,25,59.0,24,57.6,1,2.2

In [4]:
# find unique state names
unique_states = state_df["State"].unique()
unique_states

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [7]:
state_df["Percent of population Employed"][2]

48.6

In [3]:
# groupby population group
women_employed = state_df.groupby(["Population group", "State"])

In [8]:
women_employed.mean().head()

                                       Percent of population  \
Population group          State
Black or African American Alabama                       55.8
                          Arizona                       72.1
                          Arkansas                      57.9
                          California                    61.5
                          Connecticut                   64.5

                                       Percent of population Employed  \
Population group          State
Black or African American Alabama                                52.0
                          Arizona                                66.0
                          Arkansas                               54.0
                          California                             57.5
                          Connecticut                            58.8

                                       Rate Unemployed
Population group          State
Black or African American Alabama                  6.9
                          Arizona                  8.4
                          Arkansas                 6.7
                          California               6.5
                          Connecticut              8.9

In [6]:
AL_pop = state_df.loc[state_df['State'] == 'Alabama', 'Population group']
AL_employed = state_df.loc[state_df['State'] == 'Alabama', 'Percent of population Employed']
AL_unemployed = state_df.loc[state_df['State'] == 'Alabama', 'Rate Unemployed']

AL_df = pd.DataFrame({"Population Group": AL_pop,
                    "Percent Employed": AL_employed,
                    "Rate Unemployed": AL_unemployed})
AL_women = AL_df.loc[AL_df["Population Group"] == "Women", "Percent Employed"]
AL_women

2    48.6
Name: Percent Employed, dtype: float64

In [7]:
AK_pop = state_df.loc[state_df['State'] == 'Alaska', 'Population group']
AK_employed = state_df.loc[state_df['State'] == 'Alaska', 'Percent of population Employed']
AK_unemployed = state_df.loc[state_df['State'] == 'Alaska', 'Rate Unemployed']

AK_df = pd.DataFrame({"Population Group": AK_pop,
                    "Percent Employed": AK_employed,
                    "Rate Unemployed": AK_unemployed})
AK_women = AK_df.loc[AK_df["Population Group"] == "Women", "Percent Employed"]
AK_women

32    58.2
Name: Percent Employed, dtype: float64

In [8]:
CA_pop = state_df.loc[state_df['State'] == 'California', 'Population group']
CA_employed = state_df.loc[state_df['State'] == 'California', 'Percent of population Employed']
CA_unemployed = state_df.loc[state_df['State'] == 'California', 'Rate Unemployed']

CA_df = pd.DataFrame({"Population Group": CA_pop,
                    "Percent Employed": CA_employed,
                    "Rate Unemployed": CA_unemployed})
CA_women = CA_df.loc[CA_df["Population Group"] == "Women", "Percent Employed"]
CA_women

116    52.9
Name: Percent Employed, dtype: float64

In [9]:
NY_pop = state_df.loc[state_df['State'] == 'New York', 'Population group']
NY_employed = state_df.loc[state_df['State'] == 'New York', 'Percent of population Employed']
NY_unemployed = state_df.loc[state_df['State'] == 'New York', 'Rate Unemployed']

NY_df = pd.DataFrame({"Population Group": NY_pop,
                    "Percent Employed": NY_employed,
                    "Rate Unemployed": NY_unemployed})
NY_women = NY_df.loc[NY_df["Population Group"] == "Women", "Percent Employed"]
NY_women

897    53.6
Name: Percent Employed, dtype: float64