In [2]:
# dependencies and setup
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
new_df = pd.read_csv('../data/employment-statusbygender-ageofyoungestchild.csv')
new_df.head()

,Age of youngest child,Mothers Full-time,Mothers Part-time,Fathers Full-time,Fathers Part-time
0,under 3 years,72.4,27.6,95.3,4.7
1,3 to 5 years,75.4,24.6,95.5,4.5
2,6 to 17 years,77.9,22.1,95.8,4.2
3,under 18 years,76.3,23.7,95.6,4.4

In [4]:
state_df = pd.read_csv('../data/workforce-by-state-2018.csv')
state_df.head()

,State,Population group,Civilian non-institutional population,Total,Percent of population,Total Employed,Percent of population Employed,Total Unemployed,Rate Unemployed
0,Alabama,Total,"3,847","2,208",57.4,"2,121",55.1,87,3.9
1,Alabama,Men,"1,820","1,180",64.9,"1,135",62.4,45,3.8
2,Alabama,Women,"2,027","1,027",50.7,986,48.6,42,4.1
3,Alabama,White,"2,711","1,567",57.8,"1,523",56.2,44,2.8
4,Alabama,"White, men","1,310",880,67.2,857,65.4,23,2.6

In [5]:
unique_states = state_df["State"].unique()
unique_states

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [6]:
# stategroups = state_df.groupby(["Population group","State"])
stategroups = state_df.groupby(["State","Population group"])
# stategroups.mean().head()
stategroups.mean().head()

                                           Percent of population  \
State   Population group
Alabama Black or African American                           55.8
        Black or African American, men                      57.4
        Black or African American, women                    54.6
        Hispanic or Latino ethnicity                        67.5
        Hispanic or Latino ethnicity, men                   87.4

                                           Percent of population Employed  \
State   Population group
Alabama Black or African American                                    52.0
        Black or African American, men                               53.1
        Black or African American, women                             51.1
        Hispanic or Latino ethnicity                                 64.4
        Hispanic or Latino ethnicity, men                            85.1

                                           Rate Unemployed
State   Population group
Alabama Black or African American                      6.9
        Black or African American, men                 7.4
        Black or African American, women               6.4
        Hispanic or Latino ethnicity                   4.6
        Hispanic or Latino ethnicity, men              2.6

In [7]:
AL_pop = state_df.loc[state_df['State'] == 'Alabama', 'Population group']
AL_employed = state_df.loc[state_df['State'] == 'Alabama', 'Percent of population Employed']
AL_unemployed = state_df.loc[state_df['State'] == 'Alabama', 'Rate Unemployed']

AL_df = pd.DataFrame({"Population Group": AL_pop,
                    "Percent Employed": AL_employed,
                    "Rate Unemployed": AL_unemployed})
AL_women = AL_df.loc[AL_df["Population Group"] == "Women", "Percent Employed"]
AL_women

2    48.6
Name: Percent Employed, dtype: float64

In [8]:
AK_pop = state_df.loc[state_df['State'] == 'Alaska', 'Population group']
AK_employed = state_df.loc[state_df['State'] == 'Alaska', 'Percent of population Employed']
AK_unemployed = state_df.loc[state_df['State'] == 'Alaska', 'Rate Unemployed']

AK_df = pd.DataFrame({"Population Group": AK_pop,
                    "Percent Employed": AK_employed,
                    "Rate Unemployed": AK_unemployed})
AK_women = AK_df.loc[AK_df["Population Group"] == "Women", "Percent Employed"]
AK_women

32    58.2
Name: Percent Employed, dtype: float64

In [9]:
CA_pop = state_df.loc[state_df['State'] == 'California', 'Population group']
CA_employed = state_df.loc[state_df['State'] == 'California', 'Percent of population Employed']
CA_unemployed = state_df.loc[state_df['State'] == 'California', 'Rate Unemployed']

CA_df = pd.DataFrame({"Population Group": CA_pop,
                    "Percent Employed": CA_employed,
                    "Rate Unemployed": CA_unemployed})
CA_women = CA_df.loc[CA_df["Population Group"] == "Women", "Percent Employed"]
CA_women

116    52.9
Name: Percent Employed, dtype: float64

In [10]:
NY_pop = state_df.loc[state_df['State'] == 'New York', 'Population group']
NY_employed = state_df.loc[state_df['State'] == 'New York', 'Percent of population Employed']
NY_unemployed = state_df.loc[state_df['State'] == 'New York', 'Rate Unemployed']

NY_df = pd.DataFrame({"Population Group": NY_pop,
                    "Percent Employed": NY_employed,
                    "Rate Unemployed": NY_unemployed})
NY_women = NY_df.loc[NY_df["Population Group"] == "Women", "Percent Employed"]
NY_women

897    53.6
Name: Percent Employed, dtype: float64